html, body {
    height: 100%;
    margin: 0;
    
}

#parent-container{
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;  
   background-image:     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
  url("/Leanding-System/img/leanding.jpg");
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;
}
#child-container{
  width: 500px;
  height: auto;
  
  background-color:white;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: 5px 5px 7px rgb(0, 0,0,0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
}
.header{
  text-align: center;
}
.input{
  padding :20px;
  margin:20px ;
  background-color: lightgray;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: border-color 0.5s ease;
}
.input:hover{
  border-color: red;
}
.btnlend{
  margin: 0 auto;
  padding: 20px ;
  border: 1px solid black;
  border-radius: 10px;
  background-color:black;
  color :white;
  font-weight: bold;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
.btnlend:hover{
  background-color: red;
}
.resultbox{
  margin: 30px;
  padding:  30px;
  background:white;
  border: 1px solid blue;
  border-radius: 8px;
}
p{
  color:black;
  text-align: center;
  padding:5px;
}